body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:100px;
  width:644px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:430px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:100px;
  width:644px;
  height:430px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:430px;
}
#u3 {
  position:absolute;
  left:2px;
  top:207px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:233px;
  width:256px;
  height:247px;
  opacity:0.6;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:247px;
}
#u5 {
  position:absolute;
  left:2px;
  top:116px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:245px;
  width:40px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:240px;
  top:305px;
  width:27px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:356px;
  top:430px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:240px;
  top:320px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:240px;
  top:270px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:406px;
  top:480px;
  width:60px;
  height:20px;
  text-decoration:underline;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:105px;
  width:181px;
  height:35px;
  opacity:0.8;
  font-size:30px;
  color:#000033;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:240px;
  top:395px;
  width:118px;
  height:13px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:240px;
  top:355px;
  width:53px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:240px;
  top:370px;
  width:200px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:249px;
  top:295px;
  width:182px;
  height:65px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:65px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
