body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:100px;
  width:644px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:430px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:160px;
  width:540px;
  height:320px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:320px;
}
#u3 {
  position:absolute;
  left:2px;
  top:152px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:110px;
  width:50px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u4_img.mouseOver {
  width:60px;
  height:50px;
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:128px;
  top:170px;
  width:432px;
  height:120px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:120px;
}
#u7 {
  position:absolute;
  left:2px;
  top:52px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:310px;
  width:46px;
  height:22px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:308px;
  width:110px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:240px;
  top:110px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:26px;
  top:150px;
  width:644px;
  height:10px;
  opacity:0.7;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:350px;
  top:308px;
  width:46px;
  height:22px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:308px;
  width:110px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:120px;
  top:358px;
  width:60px;
  height:22px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:180px;
  top:358px;
  width:200px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:274px;
  top:410px;
  width:147px;
  height:40px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u21_img.mouseOver {
  width:157px;
  height:50px;
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:248px;
  top:265px;
  width:212px;
  height:95px;
  font-size:16px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:95px;
}
#u24 {
  position:absolute;
  left:2px;
  top:38px;
  width:208px;
  word-wrap:break-word;
}
