body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:100px;
  width:644px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:430px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:110px;
  width:50px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:128px;
  top:170px;
  width:432px;
  height:120px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:110px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:26px;
  top:150px;
  width:644px;
  height:10px;
  opacity:0.7;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:128px;
  top:330px;
  width:432px;
  height:90px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:90px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:440px;
  top:430px;
  width:110px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:128px;
  top:430px;
  width:100px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
