body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:100px;
  width:644px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:430px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:170px;
  width:110px;
  height:30px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3 {
  position:absolute;
  left:450px;
  top:170px;
  width:110px;
  height:30px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4 {
  position:absolute;
  left:293px;
  top:170px;
  width:110px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5 {
  position:absolute;
  left:130px;
  top:110px;
  width:110px;
  height:50px;
  font-size:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:450px;
  top:110px;
  width:110px;
  height:50px;
  font-size:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:293px;
  top:110px;
  width:110px;
  height:50px;
  font-size:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:26px;
  top:100px;
  width:50px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u11_img.mouseOver {
  width:60px;
  height:50px;
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:130px;
  top:220px;
  width:430px;
  height:210px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:210px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:210px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u13_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#u16_img.mouseOver {
  width:440px;
  height:100px;
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:37px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:210px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u13_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:130px;
  width:410px;
  height:120px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:120px;
}
#u18_img.mouseOver {
  width:420px;
  height:130px;
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-10px;
  top:0px;
  width:430px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:120px;
}
#u20_img.mouseOver {
  width:440px;
  height:130px;
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:260px;
  width:410px;
  height:120px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:120px;
}
#u22_img.mouseOver {
  width:420px;
  height:130px;
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:210px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u13_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:110px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:110px;
}
#u24_img.mouseOver {
  width:390px;
  height:120px;
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:47px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:120px;
  width:380px;
  height:130px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:130px;
}
#u26_img.mouseOver {
  width:390px;
  height:140px;
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:57px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
